---
import Card from '../components/Card.astro';
import Hero from '../sections/Hero.astro';
import Stores from '../components/Stores.astro';
import Layout from '../layouts/Layout.astro';

const stores = [
	{
		title: 'Andrea',
		image: '/img/andrea/andrea.png',
		href: '/andrea'
	},
	{
		title: 'Price Shoes',
		image: '/img/price-shoes/price-shoes.png',
		href: '/price-shoes'
	},
	{
		title: 'Cklass',
		image: '/img/cklass/cklass.jpeg',
		href: '/cklass'
	}
]
---

<Layout title="Resilienza - Catalogos">
	<Hero title="Catalogos" />
	<Stores stores={stores} />
	<!-- <main class="container px-4 mx-auto flex flex-col justify-center">
		<h1 class="text-center text-5xl mt-5">Nuestras Tiendas</h1>
		<div class="flex justify-center items-center mt-10 gap-5 flex-wrap mb-5">
			{
				stores.map((store) => (
					<Card {...store} />
				))
			}
		</div>
	</main> -->
</Layout>